# Google Driver uploader
# google-auth
# google-auth-oauthlib
# google-auth-httplib2
# google-api-python-client

# Piano sheet downloader
nodejs-bin

# Piano sheet convertor
music21

# Yaml reader
PyYAML

# FastApi
fastapi
uvicorn
python-multipart

# Folder monitoring
pyinotify

# Logging
colorlog